.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    height: 50px;
    width: 50px;
    bottom: 15px;
    /* Place the button at the bottom of the page */
    right: 15px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    outline: none;
    /* Remove outline */
    background-color: #56B6F7;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 10px;
    /* Some padding */
    border: none;
    border-radius: 100%;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #377aa6;
    /* Add a dark-grey background on hover */
}

#myBtn i {
    font-size: 25px;
}


@media screen and (min-width: 1280px) {
    /* .cancel-button{
        padding: 6px 12px;
    } */
    /* a i{
        width: 16px;
        height: 16px;
    } */
    .card {
        box-shadow: -8px 12px 18px 0 rgba(25, 42, 70, 0.13);
        margin-bottom: 3rem;
    }

    .card .card-body {
        padding: 1.4rem 1.7rem;
    }

    /* .card-body {
        flex: 1 1 auto;
        padding: 1rem 1rem;
    } */

    .dataTables_wrapper .dataTables_length {
        float: left;
    }

    .dataTables_wrapper .dataTables_filter input {
        border: 1px solid #aaa;
        border-radius: 3px;
        padding: 5px;
        background-color: transparent;
        margin-left: 3px;
    }

    .dataTables_wrapper .dataTables_info {
        clear: both;
        float: left;
        padding-top: 0.755em;
    }

    .dataTables_wrapper .dataTables_paginate {
        float: right;
        text-align: right;
        padding-top: 0.25em;
    }
}

/* @media screen and (max-width: 767px) {
    .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
      text-align: center;
      padding-top: 0.755em;
    }
  
    .dataTables_wrapper .dataTables_paginate {
      margin-top: 0.5em;
    }
  } */

@media screen and (max-width: 640px) {
    #main .main-content {
        padding-top: 1rem;
        padding-bottom: 4.5rem;
    }

    .overflow-auto{
        height: 30vh;
    }
    
    .mark-as-read{
        float: right;
        margin-top: 1vh;
    }


    a{
        text-decoration: none;
    }

    .container-fluid {
        padding: 0;
    }

    .card {
        margin-bottom: 0;
    }

    /* .card .card-content .card-body {
        padding-bottom: 2rem;
    } */

    /* div.dataTables_wrapper {
        width: 500px;
        margin: 0 auto;
    } */

    .dataTables_wrapper .dataTables_length select {
        border: 1px solid #aaa;
        border-radius: 3px;
        padding: 5px;
        background-color: transparent;
        padding: 4px;
        /* width: 230px; */
    }

    .dataTables_wrapper .dataTables_filter input{
        border: 1px solid #aaa;
        border-radius: 3px;
        padding: 5px;
        background-color: transparent;
        margin-left: 3px;
        width: 280px;
    } 

    table.dataTable{
        width: 400px;
        overflow-x: auto;
    }

    table.dataTable thead th {
        text-align: center;
    }

    th, td{ white-space: nowrap; }

    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter {
        float: left;
        text-align: center;
        /* margin: 0.5rem 1rem 0 1rem; */
        margin-top: 0.5rem;
        margin-right: 1rem;
        margin-left: 1rem;
        margin-bottom: 0;
    }

    /* .dataTables_wrapper .dataTables_filter {
        margin-top: 0.5em;
    } */

    table.dataTable tbody th,
    table.dataTable tbody td {
        text-align: center;
    }

    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_paginate {
        text-align: center;
        padding-top: 0.755em;
    }
}